header {
    background-color: #6cb855;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.pokemon-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}

.pokemon-card img {
    width: 100%;
    height: auto;
}

.pokemon-card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.pokemon-card p {
    margin: 10px;
    font-size: 16px;
    color: #555;
}